# Import the important libraries

In [121]:
import requests
import pandas as pd

# Getting top rated movie data data from the tmdb api

In [123]:
response = requests.get( "https://api.themoviedb.org/3/tv/top_rated?api_key=60c4ab909551a9d2576704a66111e691&&language=en-US&page=1")

# Converted into dataframes and also fetched the coloumns we want

In [125]:
temp_df=pd.DataFrame(response.json()['results'])[['id','name','origin_country','overview','popularity','vote_average','vote_count']]

In [127]:
temp_df.head()

,id,name,origin_country,overview,popularity,vote_average,vote_count
0,1396,Breaking Bad,[US],"Walter White, a New Mexico chemistry teacher, ...",109.3412,8.920,15967
1,94605,Arcane,[US],Amid the stark discord of twin cities Piltover...,21.9011,8.762,5312
2,219246,When Life Gives You Tangerines,[KR],"In Jeju, a spirited girl and a steadfast boy's...",26.0474,8.800,375
3,246,Avatar: The Last Airbender,[US],"In a war-torn world of elemental magic, a youn...",14.0038,8.756,4450
4,209867,Frieren: Beyond Journey's End,[JP],Decades after her party defeated the Demon Kin...,28.2580,8.739,502

# Create empty list and then use loop to append every page data into that list and using pd.concat we will combine list of dataframes into one dataset

In [129]:
dataframes_list=[]

In [131]:
for i in range(1,114):
    response = requests.get( "https://api.themoviedb.org/3/tv/top_rated?api_key=60c4ab909551a9d2576704a66111e691&&language=en-US&page={}".format(i))
    temp_df=pd.DataFrame(response.json()['results'])[['id','name','origin_country','overview','popularity','vote_average','vote_count']]
    dataframes_list.append(temp_df)
df=pd.concat(dataframes_list,ignore_index=True)

In [132]:
df

,id,name,origin_country,overview,popularity,vote_average,vote_count
0,1396,Breaking Bad,[US],"Walter White, a New Mexico chemistry teacher, ...",109.3412,8.920,15967
1,94605,Arcane,[US],Amid the stark discord of twin cities Piltover...,21.9011,8.762,5312
2,219246,When Life Gives You Tangerines,[KR],"In Jeju, a spirited girl and a steadfast boy's...",26.0474,8.800,375
3,246,Avatar: The Last Airbender,[US],"In a war-torn world of elemental magic, a youn...",14.0038,8.756,4450
4,209867,Frieren: Beyond Journey's End,[JP],Decades after her party defeated the Demon Kin...,28.2580,8.739,502
...,...,...,...,...,...,...,...
2251,135251,The Idol,[US],After a nervous breakdown derailed Jocelyn's l...,4.7711,5.384,271
2252,10160,Big Brother,[US],American version of the reality game show whic...,20.1945,5.000,250
2253,130392,The D'Amelio Show,[US],From relative obscurity and a seemingly normal...,2.7287,5.000,681
2254,1871,EastEnders,[GB],The everyday lives of working-class residents ...,23.7685,4.200,214
2255,126725,Velma,[US],Jinkies! This raucous reimagining of the Scoob...,5.6038,3.447,309

In [133]:
df.shape

(2256, 7)

In [137]:
df.to_csv('top_rated_movies.csv')